spring:
  application:
    name: DayExpenseTracker

  datasource:
    url: jdbc:postgresql://localhost:5432/expense_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  main:
    allow-circular-references: true

  # Gmail Properties
  mail:
    host: smtp.gmail.com
    port: 587
    username: jadhavkiran2011@gmail.com
    password: kegv opjx cwvd kejb
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  # Multipart file configuration
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 5MB
      file-size-threshold: 3KB

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000   # 1 day in milliseconds
